* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 100%);
  background-image: radial-gradient(circle at 34% 47%, hsla(237, 80%, 40%, 0.3) 4.47%, transparent 73.15%), radial-gradient(circle at 74% 20%, hsla(248, 100%, 63%, 0.3) 3.49%, transparent 63.7%);
  background-blend-mode: normal;
  background-repeat: no-repeat;
  height: 100vh;
}

p {
  font-size: 1rem;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

p, span, a {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  width: 100%;
  height: 0.3rem;
}
.navbar .nav-container {
  margin-top: 5rem;
}
.navbar .nav-container .logo {
  position: absolute;
  top: 26px;
  left: 20px;
  font-size: 1.5rem;
  color: #1E1926;
}
.navbar .menu-items {
  height: auto;
  width: 100%;
  backdrop-filter: blur(150px);
  transform: translateY(-150%);
  border-top: 2px solid #FEF6FF;
  border-bottom: 2px solid #FEF6FF;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  justify-content: center;
}
.navbar .menu-items ul {
  margin-top: 1rem;
}
.navbar .menu-items ul li {
  margin-bottom: 2rem;
}
.navbar .menu-items ul li a {
  color: #1E1926;
  font-weight: 400;
  font-size: 1.3rem;
  position: relative;
  overflow: hidden;
  background-clip: text;
  background: linear-gradient(to right, #390AE3, #390AE3 50%, #1E1926 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 335ms ease;
  text-decoration: none;
}
.navbar .menu-items ul li a:hover {
  background-position: 0 100%;
}
.navbar .nav__button {
  display: none;
}
.navbar .nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 30px;
  right: 25px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.navbar .nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 30px;
  right: 25px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar .nav-container .hamburger-lines .line {
  display: block;
  height: 0.155rem;
  width: 100%;
  border-radius: 10px;
  background: #1E1926;
}
.navbar .nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.navbar .nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.navbar .nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.navbar .nav-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateY(0);
}
.navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
.navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
.navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
.navbar .nav-container input[type=checkbox]:checked ~ .logo {
  display: none;
}

@media (min-width: 1025px) {
  .navbar {
    padding-inline: 5vw;
    height: 100%;
  }
  .navbar .nav-container {
    width: 100%;
    display: flex;
    margin-top: 0;
    align-items: center;
  }
  .navbar .nav-container .logo {
    position: static;
    margin-top: 1.5rem;
  }
  .navbar .nav-container .menu-items {
    transform: translateY(0%);
    margin-right: 4rem;
    backdrop-filter: none;
    margin-top: 2rem;
    flex-direction: row;
    border-top: none;
    border-bottom: none;
  }
  .navbar .nav-container .menu-items ul {
    display: flex;
    margin-top: 0;
    gap: 2rem;
  }
  .navbar .nav-container .menu-items ul li {
    margin-bottom: 0;
  }
  .navbar .nav-container .menu-items ul li a {
    font-size: 1.2rem;
  }
  .navbar .nav-container .checkbox {
    display: none;
  }
  .navbar .nav-container .hamburger-lines {
    display: none;
  }
  .navbar .nav-container .nav__button {
    display: block;
    position: absolute;
    right: 3%;
    top: 1.9%;
  }
}
@media (min-width: 1600px) {
  .navbar .nav-container .menu-items ul li a {
    font-size: 1.2rem;
  }
}
.header {
  height: auto;
}
.header .hero {
  display: flex;
  flex-direction: column;
}
.header .hero .hero__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .hero .hero__img img {
  max-width: 100%;
}
.header .hero .hero__description {
  text-align: center;
  margin-inline: 2vw;
}
.header .hero .hero__description .hero__title {
  font-size: clamp(1.3rem, 1.3vw, 2.5rem);
  margin-bottom: 1.3rem;
  line-height: 1;
}
.header .hero .hero__description .hero__text {
  margin-inline: 3vw;
  margin-bottom: 2rem;
}
.header .hero .hero__description .hero__text p {
  font-size: 1rem;
}
.header .hero .hero__description .hero__buttons {
  gap: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .hero .hero__description .hero__buttons .services__link {
  font-size: 1rem;
  color: #1E1926;
  display: inline-flex;
  align-items: center;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-clip: text;
  background: linear-gradient(to right, #390AE3, #390AE3 50%, #1E1926 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 375ms ease;
}
.header .hero .hero__description .hero__buttons .services__link:hover {
  background-position: 0 100%;
}

@media (min-width: 668px) and (max-width: 1024px) {
  .header .hero .hero__img {
    margin-bottom: 0.5rem;
  }
  .header .hero .hero__img img {
    width: 70%;
  }
  .header .hero .hero__description .hero__title {
    margin-inline: 3vw;
  }
  .header .hero .hero__description .hero__text {
    text-align: center;
  }
  .header .hero .hero__description .hero__text p {
    font-size: 1.05rem;
  }
  .header .hero .hero__description .hero__buttons {
    gap: 1.7rem;
  }
}
@media (min-width: 1025px) {
  .header .hero {
    margin-top: 2rem;
  }
  .header .hero .hero__img img {
    width: 40%;
  }
  .header .hero .hero__description {
    text-align: center;
  }
  .header .hero .hero__description .hero__title {
    line-height: 1.2;
    margin-inline: 20vw;
  }
  .header .hero .hero__description .hero__text {
    margin-inline: 20vw;
  }
  .header .hero .hero__description .hero__text p {
    font-size: 1.02rem;
  }
  .header .hero .hero__description .hero__buttons {
    gap: 2rem;
  }
}
@media (min-width: 1600px) {
  .header .hero .hero__img {
    margin-top: 1rem;
  }
  .header .hero .hero__img img {
    width: 30%;
  }
  .header .hero .hero__description {
    text-align: center;
  }
  .header .hero .hero__description .hero__title {
    margin-inline: 15vw;
  }
  .header .hero .hero__description .hero__text {
    margin-block: 2.5rem;
  }
  .header .hero .hero__description .hero__text p {
    font-size: 1.1rem;
  }
  .header .hero .hero__description .hero__buttons .services__link {
    font-size: 1.1rem;
  }
}
.btn {
  padding: 0.8rem 1.4rem;
  display: inline-block;
  cursor: pointer;
  font-size: 1.1rem;
  outline: none;
  border-radius: 7px;
  text-align: center;
  position: relative;
  transition: 0.4s ease;
  overflow: hidden;
  transition: 500ms ease all;
  font-weight: 400;
}
.btn::before {
  content: "";
  position: absolute;
  top: -40%;
  right: 110%;
  width: 30px;
  height: 200%;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(20deg);
}
.btn.primary {
  background: linear-gradient(to top, #390ae3, #5500d5, #6600c8, #7100bb, #7900af);
  color: #FEF6FF;
}
.btn.primary:hover:before {
  right: -50%;
  transition: 1s ease all;
}
.btn.secondary {
  font-weight: 700;
  color: #1E1926;
  border: 2px solid #1E1926;
  background: transparent;
  transition: 0.2s ease;
}
.btn.secondary:hover {
  color: #FEF6FF;
  background: linear-gradient(to top, #390ae3, #5500d5, #6600c8, #7100bb, #7900af);
}

@media (min-width: 668px) and (max-width: 1024px) {
  .btn.primary {
    padding: 0.9rem 1.8rem;
  }
}
@media (min-width: 1025px) {
  .btn.primary {
    padding: 1rem 1.9rem;
  }
  .btn.secondary {
    padding: 0.6rem 1.1rem;
  }
}
@media (min-width: 1600px) {
  .btn.primary {
    padding: 1rem 2.3rem;
    font-size: 1.2rem;
  }
  .btn.secondary {
    padding: 0.8rem 1.9rem;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
