.btn {
  padding: 0.8rem 1.4rem;
  display: inline-block;
  cursor: pointer;
  font-size: 1.1rem;
  outline: none;
  border-radius: 7px;
  text-align: center;
  position: relative;
  transition: 0.4s ease;
  overflow: hidden;
  transition: 500ms ease all;
  font-weight: 400;
}
.btn::before {
  content: "";
  position: absolute;
  top: -40%;
  right: 110%;
  width: 30px;
  height: 200%;
  background: rgba(255, 255, 255, 0.3);
  transform: rotate(20deg);
}
.btn.primary {
  background: linear-gradient(to top, #390ae3, #5500d5, #6600c8, #7100bb, #7900af);
  color: #FEF6FF;
}
.btn.primary:hover:before {
  right: -50%;
  transition: 1s ease all;
}
.btn.secondary {
  font-weight: 700;
  color: #1E1926;
  border: 2px solid #1E1926;
  transition: background-color 0.3s linear, color 0.3s linear;
}
.btn.secondary:hover {
  color: #FEF6FF;
  background: linear-gradient(to top, #390ae3, #5500d5, #6600c8, #7100bb, #7900af);
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-button img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media (min-width: 668px) and (max-width: 1024px) {
  .btn.primary {
    padding: 0.9rem 1.8rem;
  }
}
@media (min-width: 1025px) {
  .btn.primary {
    padding: 1rem 1.9rem;
  }
  .btn.secondary {
    padding: 0.6rem 1.1rem;
  }
}
@media (min-width: 1300px) {
  .btn.primary {
    padding: 1rem 2.3rem;
    font-size: 1.2rem;
  }
  .btn.secondary {
    padding: 0.8rem 1.9rem;
    font-size: 1rem;
  }
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 0;
  vertical-align: middle;
  background: transparent;
  padding: 0;
  font-size: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #390AE3;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #FEF6FF;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #1E1926;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #FEF6FF;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #FEF6FF;
}

.cta__final .btn {
  margin-bottom: 3rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  color: #FEF6FF;
  padding: 0 5.5em 0 1em;
  font-size: 1.4rem;
  line-height: 3em;
  transition: all 200ms cubic-bezier(0.65, 0, 0.25, 1);
}
.cta__final .btn--mini {
  font-size: 1.2rem;
}
.cta__final .btn .circle {
  width: 3em;
  height: 3em;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #FEF6FF;
  border-radius: 3em;
  transition: inherit;
}
.cta__final .btn .circle .circle__arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0.8em;
  transform: translateY(-50%);
  width: 1.8em;
  height: 0.6em;
  transition: inherit;
}
.cta__final .btn .circle .circle__arrow::before {
  content: "";
  position: absolute;
  top: 0;
  right: 33%;
  width: 0.6em;
  height: 100%;
  border-top: 2px solid #FEF6FF;
  border-right: 2px solid #FEF6FF;
  transform: rotate(45deg);
  transition: inherit;
}
.cta__final .btn .circle .circle__arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 0;
  height: 2px;
  background: #FEF6FF;
  transition: inherit;
  opacity: 0;
}
.cta__final .btn:hover {
  padding-left: 2em;
  padding-right: 6em;
}
.cta__final .btn:hover .circle {
  width: 100%;
  border-color: #FEF6FF;
}
.cta__final .btn:hover .circle .circle__arrow {
  right: 2em;
}
.cta__final .btn:hover .circle .circle__arrow::before {
  right: 3%;
}
.cta__final .btn:hover .circle .circle__arrow::after {
  width: 100%;
  opacity: 1;
}

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 100%);
  background-image: radial-gradient(circle at 34% 47%, hsla(237, 80%, 40%, 0.3) 4.47%, transparent 73.15%), radial-gradient(circle at 74% 20%, hsla(248, 100%, 63%, 0.3) 3.49%, transparent 63.7%);
  background-blend-mode: normal;
  background-repeat: no-repeat;
}

.section-divider {
  border: 1px solid #FEF6FF;
}

p {
  font-size: 1.1rem;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

section {
  height: auto;
}

.section__title {
  text-align: center;
  margin-block: 4rem;
  font-size: 1.7rem;
  margin-inline: 10vw;
  color: #1E1926;
  line-height: 1.2;
}
.section__title span {
  margin-bottom: 0.3rem;
  display: block;
  color: #390AE3;
  font-size: 1.2rem;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

p, span, a {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  width: 100%;
  height: 0.3rem;
}
.navbar .nav-container {
  margin-top: 5rem;
}
.navbar .nav-container .logo {
  position: absolute;
  top: 26px;
  left: 20px;
  font-size: 1.5rem;
  color: #1E1926;
}
.navbar .menu-items {
  height: auto;
  width: 100%;
  backdrop-filter: blur(150px);
  transform: translateY(-150%);
  border-top: 2px solid #FEF6FF;
  border-bottom: 2px solid #FEF6FF;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  justify-content: center;
}
.navbar .menu-items ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.navbar .menu-items ul li {
  margin-bottom: 1.5rem;
}
.navbar .menu-items ul li a {
  color: #1E1926;
  font-weight: 400;
  font-size: 1.3rem;
  position: relative;
  overflow: hidden;
  background-clip: text;
  background: linear-gradient(to right, #390AE3, #390AE3 50%, #1E1926 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 335ms ease;
  text-decoration: none;
}
.navbar .menu-items ul li a:hover {
  background-position: 0 100%;
}
.navbar .nav__button {
  display: none;
}
.navbar .nav__social {
  display: none;
}
.navbar .nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 30px;
  right: 25px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.navbar .nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 30px;
  right: 25px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar .nav-container .hamburger-lines .line {
  display: block;
  height: 0.155rem;
  width: 100%;
  border-radius: 10px;
  background: #1E1926;
}
.navbar .nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.navbar .nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.navbar .nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.navbar .nav-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateY(0);
}
.navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
.navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
.navbar .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
.navbar .nav-container input[type=checkbox]:checked ~ .logo {
  display: none;
}

@media (min-width: 1025px) {
  .navbar {
    padding-inline: 5vw;
    height: 100%;
  }
  .navbar .nav-container {
    width: 100%;
    display: flex;
    margin-top: 0;
    align-items: center;
  }
  .navbar .nav-container .logo {
    position: static;
    margin-top: 1.5rem;
  }
  .navbar .nav-container .menu-items {
    transform: translateY(20%);
    margin-right: 4rem;
    backdrop-filter: none;
    margin-top: 2rem;
    flex-direction: row;
    border-top: none;
    border-bottom: none;
  }
  .navbar .nav-container .menu-items ul {
    display: flex;
    margin-top: 0;
    gap: 2rem;
  }
  .navbar .nav-container .menu-items ul li {
    margin-bottom: 0;
  }
  .navbar .nav-container .menu-items ul li a {
    font-size: 1.3rem;
  }
  .navbar .nav-container .checkbox {
    display: none;
  }
  .navbar .nav-container .hamburger-lines {
    display: none;
  }
  .navbar .nav-container .nav__social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .navbar .nav-container .nav__social ul {
    display: flex;
    position: absolute;
    right: 5%;
    top: 4%;
    gap: 4rem;
  }
  .navbar .nav-container .nav__social ul li img {
    width: 40px;
  }
}
.header {
  height: auto;
  overflow: hidden;
}
.header .hero {
  display: flex;
  flex-direction: column-reverse;
}
.header .hero .hero__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .hero .hero__img img {
  width: 550px;
}
.header .hero .hero__description {
  text-align: center;
  margin-inline: 5vw;
  margin-top: 2rem;
}
.header .hero .hero__description .hero__title {
  font-size: clamp(1.5rem, 1.5vw, 2.5rem);
  margin-bottom: 1.3rem;
  line-height: 1.2;
}
.header .hero .hero__description .hero__text {
  margin-inline: 5vw;
  margin-bottom: 3rem;
}
.header .hero .hero__description .hero__text p {
  font-size: 1.1rem;
  line-height: 1.5;
}
.header .hero .hero__description .hero__buttons {
  margin-bottom: 2rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .hero .hero__description .hero__buttons .services__link {
  font-size: 1.1rem;
  color: #1E1926;
  display: inline-flex;
  align-items: center;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-clip: text;
  background: linear-gradient(to right, #390AE3, #390AE3 50%, #1E1926 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 375ms ease;
}
.header .hero .hero__description .hero__buttons .services__link:hover {
  background-position: 0 100%;
}

@media (min-width: 668px) and (max-width: 1024px) {
  .header .hero {
    margin-top: 1rem;
  }
  .header .hero .hero__img {
    margin-bottom: 0.5rem;
  }
  .header .hero .hero__img img {
    width: 500px;
  }
  .header .hero .hero__description {
    margin-inline: 15vw;
  }
  .header .hero .hero__description .hero__text {
    text-align: center;
  }
  .header .hero .hero__description .hero__buttons {
    gap: 1.7rem;
  }
}
@media (min-width: 1025px) {
  .header .hero {
    max-width: 1100px;
    width: 100%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  .header .hero .hero__img img {
    width: 700px;
  }
  .header .hero .hero__description {
    text-align: center;
    margin-inline: 15vw;
  }
  .header .hero .hero__description .hero__title {
    line-height: 1.2;
  }
  .header .hero .hero__description .hero__text p {
    font-size: 1.02rem;
  }
  .header .hero .hero__description .hero__buttons {
    gap: 2rem;
  }
}
@media (min-width: 1300px) {
  .header .hero {
    max-width: 1300px;
  }
  .header .hero .hero__img img {
    width: 750px;
  }
  .header .hero .hero__description {
    text-align: center;
  }
  .header .hero .hero__description .hero__text p {
    font-size: 1.1rem;
  }
  .header .hero .hero__description .hero__buttons .services__link {
    font-size: 1.1rem;
  }
}
.footer {
  background-color: #390AE3;
  padding-top: 3rem;
}
.footer .footer__grid {
  margin-inline: 5vw;
  display: grid;
  grid-template-columns: 1fr;
}
.footer .footer__grid .logo {
  font-size: 2rem;
  color: #FEF6FF;
  text-align: center;
  margin-bottom: 2rem;
}
.footer .footer__grid .logo.desktop {
  display: none;
}
.footer .footer__grid .menu-items ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.footer .footer__grid .menu-items ul li a {
  color: #FEF6FF;
  font-size: 1.8rem;
}
.footer .footer__grid .footer__social {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.footer .footer__grid .footer__social ul {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
.footer .footer__grid .footer__social ul img {
  max-width: 45px;
}
.footer .footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: #FEF6FF;
  padding-bottom: 1rem;
}

@media (min-width: 1025px) {
  .footer .footer__grid {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-inline: 1vw;
    margin-top: 4rem;
    padding-bottom: 3rem;
  }
  .footer .footer__grid .logo.mobile {
    display: none;
  }
  .footer .footer__grid .logo.desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .footer .footer__grid .menu-items ul {
    flex-direction: row;
    gap: 1.5rem;
  }
  .footer .footer__grid .menu-items ul li a {
    font-size: 1.5rem;
  }
  .footer .footer__grid .footer__social {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer .footer__info {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    margin-inline: 2vw;
    font-size: 1.2rem;
  }
}
.services {
  padding-bottom: 3rem;
}
.services .services__grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 7vw;
}
.services .services__grid .services__box {
  margin-block: 2rem;
  border: 1px solid rgb(253, 253, 253);
  -webkit-box-shadow: 4px 7px 31px -15px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 4px 7px 31px -15px rgba(0, 0, 0, 0.82);
  box-shadow: 4px 7px 31px -12px rgba(0, 0, 0, 0.82);
  border-radius: 10px;
  padding: 1.5rem;
}
.services .services__grid .services__box .services__img {
  width: 100%;
  margin-bottom: 1.5rem;
}
.services .services__grid .services__box .services__img img {
  width: 220px;
}
.services .services__grid .services__box .services__description {
  padding-right: 1rem;
}
.services .services__grid .services__box .services__description h3 {
  color: #390AE3;
  font-size: clamp(1.5rem, 1.3vw, 1.8rem);
  margin-bottom: 0.7rem;
}
.services .services__grid .services__box .services__description p {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

@media (min-width: 668px) and (max-width: 1024px) {
  .services .services__grid .services__box .services__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .services .services__grid .services__box .services__img img {
    width: 350px;
    height: 250px;
  }
  .services .services__grid .services__box .services__description {
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .services .services__grid {
    max-width: 1150px;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
  }
  .services .services__grid .services__box {
    display: flex;
    margin-block: 0rem;
    flex-direction: column;
    justify-content: center;
  }
  .services .services__grid .services__box .services__img img {
    width: 250px;
    height: 180px;
  }
}
@media (min-width: 1300px) {
  .services .services__grid {
    max-width: 1750px;
  }
  .services .services__grid .services__box .services__img img {
    width: 280px;
    height: 200px;
  }
}
.objetivos {
  padding-bottom: 3rem;
}
.objetivos .objetivos__grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 5vw;
  gap: 2rem;
}
.objetivos .objetivos__grid .objetivos__box {
  background: linear-gradient(to top, #390ae3, #5500d5, #6600c8, #7100bb, #7900af);
  padding: 1.8rem 1rem;
  border-radius: 5px;
}
.objetivos .objetivos__grid .objetivos__box .objetivos__icon {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.objetivos .objetivos__grid .objetivos__box .objetivos__icon img {
  width: 4rem;
}
.objetivos .objetivos__grid .objetivos__box .objetivos__description {
  color: #FEF6FF;
}
.objetivos .objetivos__grid .objetivos__box .objetivos__description span {
  font-size: 1.55rem;
  font-weight: 700;
}
.objetivos .objetivos__grid .objetivos__box .objetivos__description p {
  font-weight: 300;
  margin-top: 1rem;
  line-height: 1.5;
}

@media (min-width: 1025px) {
  .objetivos .objetivos__grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .objetivos .objetivos__grid .objetivos__box:nth-child(3) {
    grid-column: 1/-1;
  }
}
@media (min-width: 1300px) {
  .objetivos .objetivos__grid {
    padding-inline: 1vw;
    gap: 2rem;
    max-width: 1550px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .objetivos .objetivos__grid .objetivos__box:nth-child(3) {
    grid-column: auto;
  }
  .objetivos .objetivos__grid .objetivos__box {
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
  }
  .objetivos .objetivos__grid .objetivos__box .objetivos__description span {
    font-size: 1.65rem;
  }
}
.clients {
  padding-inline: 5vw;
  padding-bottom: 4rem;
}
.clients .swiper {
  width: 100%;
  height: 100%;
}
.clients .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6ebfa;
  border-radius: 20px;
  height: 50vh;
  width: 100%;
}
.clients .swiper .swiper-wrapper .swiper-slide p {
  text-align: center;
  font-size: 2rem;
  max-width: 75%;
}
.clients .swiper .swiper-wrapper .swiper-slide .client__name {
  margin-top: 1.5rem;
  font-size: 1.1rem;
}
.clients .swiper .swiper-button-prev {
  color: #1E1926;
}
.clients .swiper .swiper-button-next {
  color: #1E1926;
}

@media (min-width: 1025px) {
  .clients {
    padding-top: 3rem;
    padding-inline: 20vw;
  }
}
.faq-contact {
  height: auto;
  padding-block: 3rem;
}
.faq-contact span {
  font-size: 2rem;
  padding-top: 2rem;
  font-weight: 700;
}
.faq-contact .faq__grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-block: 2rem;
}
.faq-contact .faq__grid .faq__container {
  margin-inline: 5vw;
  padding-bottom: 4rem;
}
.faq-contact .faq__grid .faq__container .faq__box {
  border-bottom: 1px solid #1E1926;
  margin-block: 2.5rem;
}
.faq-contact .faq__grid .faq__container .faq__box .accordion {
  cursor: pointer;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.faq-contact .faq__grid .faq__container .faq__box .accordion i {
  font-size: 1.7rem;
  margin-top: 1.5rem;
}
.faq-contact .faq__grid .faq__container .faq__box .accordion span {
  font-size: 1.7rem;
  font-weight: 700;
}
.faq-contact .faq__grid .faq__container .faq__box .panel {
  padding: 1rem 18px;
  margin-bottom: 0.7rem;
  background-color: #FEF6FF;
  display: none;
  border-radius: 4px;
  overflow: hidden;
}

@media (min-width: 668px) and (max-width: 1024px) {
  .faq-contact .faq__grid {
    margin-inline: 5vw;
  }
}
.faq-contact .contact__container {
  padding: 1rem;
  background-color: #FEF6FF;
  margin-inline: 2vw;
  border-radius: 10px;
}
.faq-contact .contact__container p {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 0.8rem;
  font-weight: 700;
  padding-top: 1rem;
}
.faq-contact .contact__container i {
  font-size: 1.5rem;
  display: block;
  text-align: center;
}
.faq-contact .contact__container form {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.faq-contact .contact__container form .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.faq-contact .contact__container form .input__box {
  padding: 2rem 0;
  width: 100%;
}
.faq-contact .contact__container form .input__box input {
  border: none;
  width: 90%;
  border-bottom: 1px solid #1E1926;
  outline: none;
  background: transparent;
  padding-bottom: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
}
.faq-contact .contact__container form .input__box input::placeholder {
  color: #1E1926;
}
.faq-contact .contact__container form textarea {
  display: block;
  margin-block: 1rem;
  width: 90%;
  height: 150px;
  background: transparent;
  border: 1px solid #1E1926;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  outline: #390AE3;
  padding: 0.5rem;
  resize: none;
}
.faq-contact .contact__container form textarea::placeholder {
  color: #1E1926;
}
.faq-contact .contact__container form button {
  width: min(45%, 200px);
  font-size: 1rem;
  margin-top: 1.3rem;
}

@media (min-width: 668px) and (max-width: 1024px) {
  .faq-contact .contact__container form {
    text-align: center;
  }
  .faq-contact .contact__container textarea {
    margin-left: auto;
    margin-right: auto;
  }
  .faq-contact .contact__container button {
    margin-left: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .faq-contact .faq__grid {
    grid-template-columns: 1fr 1fr;
  }
  .faq-contact .faq__grid .faq__container {
    margin-inline: 2vw;
  }
  .faq-contact .faq__grid .contact__container {
    height: 730px;
  }
  .faq-contact .faq__grid .contact__container p {
    margin-top: 1rem;
  }
  .faq-contact .faq__grid .contact__container form {
    padding-top: 1.5rem;
    margin-inline: 1rem;
  }
  .faq-contact .faq__grid .contact__container form .input__box input {
    width: 100%;
  }
  .faq-contact .faq__grid .contact__container form textarea {
    width: 100%;
    margin-block: 2rem;
  }
}
@media (min-width: 1300px) {
  .faq-contact .faq__grid {
    max-width: 1650px;
    margin-left: auto;
    margin-right: auto;
    gap: 5rem;
  }
  .faq-contact .faq__grid .faq__container {
    margin-inline: 2vw;
  }
}
.cta__final {
  background-color: #390AE3;
  height: auto;
  padding-bottom: 2rem;
  overflow: hidden;
}
.cta__final .cta__grid {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.cta__final .cta__grid h3 {
  margin-top: 6rem;
  font-size: 2.3rem;
  color: #FEF6FF;
  margin-bottom: 3rem;
  margin-inline: 1rem;
  max-width: 500px;
}
.cta__final .cta__grid img {
  width: 450px;
}

@media (min-width: 1025px) {
  .cta__final {
    padding-bottom: 2rem;
  }
  .cta__final .cta__grid h3 {
    font-size: 2.5rem;
  }
  .cta__final .cta__grid img {
    width: 550px;
  }
}

/*# sourceMappingURL=style.css.map */
