.clients{
    padding-bottom: 3rem;
    padding-inline: 5vw;
    .clients__box{
        
    }




    .swiper {
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        background-color: #f6ebfa;
        border-radius: 20px;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            text-align: center;
        }

        .client__name{
            align-self: flex-end;
            width: 100%;
            
        }
      }
      
}
