.clients{
    padding-inline: 5vw;
    padding-bottom: 4rem;

    .swiper {
      width: 100%;
      height: 100%;
    
      .swiper-wrapper {
        .swiper-slide {
          display: flex;
          flex-direction: column; 
          justify-content: center; 
          align-items: center; 
          background-color: $color-clients-bg;
          border-radius: 20px;
          height: 50vh;
          width: 100%;      
          
          p {
            text-align: center;
            font-size: 2rem;
            max-width: 75%;
          }
          
          .client__name{
            margin-top: 1.5rem;
            font-size: 1.1rem;
          }
        }
      }

      .swiper-button-prev{
        color: $color-black;
      }

      .swiper-button-next{
        color: $color-black;
      }
    }
  }    


  @include respond-to(desktop){
    .clients{
      padding-top: 3rem;
      padding-inline: 20vw;
    }
  }