.faq-contact{
    height: auto;
    padding-block: 3rem;
    span{
        font-size: 2rem;
        padding-top: 2rem;
        font-weight: $fw-bold;
        text-align: center;
    }

    .faq__grid{
        display: grid;
        grid-template-columns: 1fr;
        margin-block: 2rem;


        .faq__container{
        margin-inline: 5vw;
        padding-bottom: 4rem;
        
            .faq__box{
                border-bottom: 1px solid $color-black;
                margin-block: 2.5rem;

                    .accordion {
                        background-color: transparent;
                        cursor: pointer;
                        width: 100%;
                        text-align: left;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        transition: 0.4s;
                        padding: 1rem;

                        i{
                            font-size: 1.7rem;
                        }
                        #faq-icon {
                            transition: transform 0.4s ease; 
                          }
                        span{
                            font-size: 1.7rem;
                            font-weight: $fw-bold
                        }
                    }
                    .panel {
                        padding: 1rem 18px;
                        margin-bottom: .7rem;
                        background-color: $color-white;
                        display: none;
                        border-radius: 4px;
                        overflow: hidden;
                    }
                    
                }            
        }
    }
}


@include respond-to(tablet){
    .faq-contact{
        .faq__grid{
        margin-inline: 5vw;
        }
    }
}



.faq-contact{
    .contact__container{
        padding: 1rem;
        background-color: $color-white;
        margin-inline: 2vw;
        border-radius: 10px;

        p{
            font-size: 1.6rem;
            text-align: center;
            margin-bottom: .8rem;
            font-weight: $fw-bold;
            padding-top: 1rem;
        }
        i{
            font-size: 1.5rem;
            display: block;
            text-align: center;
        }

        form{
            padding-top: 2rem;
            padding-bottom: 2rem;
            display: flex;
            flex-direction: column;

            .input__box{
                padding: 2rem 0;
                width: 100%;

                input{
                    border: none;
                    width: 90%;
                    border-bottom: 1px solid $color-black;
                    outline: none;
                    background: transparent;
                    padding-bottom: 1rem;
                    font-family: $ff-secondary;
                    font-size: 1.7rem;

                    &::placeholder{
                        color: $color-black;
                    }
                }

            }

            textarea{
                display: block;
                margin-block: 1rem;
                width: 90%;
                height: 150px;
                background: transparent;
                border: 1px solid $color-black;
                border-radius: 5px;
                font-size: 1.5rem;
                font-family: $ff-secondary;
                outline: $color-primary;
                padding: .5rem;

                &::placeholder{
                    color: $color-black;
                }
            }

            button{
                margin-top: 1.3rem;
                
            }
        }
    }
}


@include respond-to(tablet){
    .faq-contact{
        .contact__container{
            form{
               text-align: center;
            }
            textarea{
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}


@include respond-to(desktop){
    .faq-contact{
        .faq__grid{
            grid-template-columns: 1fr 1fr;

            .faq__container{
                margin-inline:2vw;
            }


        .contact__container{
            height: 730px;
            p{
                margin-top: 1rem;
            }
            form{
                padding-top: 1.5rem;
                margin-inline: 1rem;
                .input__box{
                    input{
                        width: 100%;
                    }
                }
                textarea{
                    width: 100%;
                    margin-block: 2rem;
                }
            }
        }
        }
        }
    }


    @include respond-to(large-desktop){
        .faq-contact{
            .faq__grid{
                max-width: 1650px;
                margin-left: auto;
                margin-right: auto;
                gap: 5rem;
                .faq__container{
                    margin-inline:2vw;
                }
              }
            }
    }