.services{
    height: auto;
    padding-bottom: 3rem;
    .services__box{
        display: flex;
        flex-direction: column;

        
        .services__img{
            margin-bottom: 2rem;
            img{
                width: 100%;
            }
        }

        .services__description{
            margin-inline: 5vw;
            h3{
                color: $color-primary;
                font-size: 1.6rem;
               margin-bottom: .9rem;
            }
            p{
                font-family: $ff-secondary;
                line-height: 1.450;
                margin-bottom: 1.2rem;
            }
        }
        }
    }


@include respond-to(tablet){
    .services{
        .services__box{
            .services__img{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    max-width: 60%;
                }
            }
            .services__description{
                margin-inline: 10vw;
                h3{
                    font-size: 1.7rem;
                }
            }
        }
    }
}

@include respond-to(desktop){
    .services{
        .services__box{
            .services__img{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    max-width: 40%;
                }
            }
            .services__description{
                margin-inline: 25vw;

                h3{
                    font-size: 1.8rem;
                }
                p{
                    font-size: 1.040rem;
                }
            }
        }
    }
}

@include respond-to(large-desktop){
    .services{
        .services__box{
            .services__img{
                img{
                    width: 30%;
                }
            }
            .services__description{
                margin-inline: 28vw;
                
            }
        }
    }
}