@mixin background-styles {
    background-color: $background-color;
    background-image: $background-image;
    background-blend-mode: $background-blend-mode;
    background-repeat: $background-repeat;
  }


  @mixin respond-to($breakpoint) {
    @if $breakpoint == mobile {
      @media (max-width: 667px) { // M치ximo para m칩viles
        @content;
      }
    } @else if $breakpoint == tablet {
      @media (min-width: 668px) and (max-width: 1024px) { // Para tabletas
        @content;
      }
    } @else if $breakpoint == desktop {
      @media (min-width: 1025px) { // Para escritorio est치ndar
        @content;
      }
    } @else if $breakpoint == large-desktop {
      @media (min-width: 1600px) { // Para pantallas grandes
        @content;
      }
    
    } @else {
      @warn "El breakpoint `#{$breakpoint}` no est치 definido.";
    }
  }
  