.footer{
    background-color: $color-primary;
    padding-top: 3rem;
    .footer__grid{
        margin-inline: 5vw;
        display: grid;
        grid-template-columns: 1fr;

        .logo{
            font-size: 2rem;
            color: $color-white;
            text-align: center;
            margin-bottom: 2rem;
        }

        .logo.desktop{
            display: none;
        }

        .menu-items{
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;

                li a{
                    color: $color-white;
                    font-size: 1.8rem;

                    &:hover{
                        opacity: .7;
                    }
                }
            }
        }

        .footer__social{
            margin-top: 3rem;
            margin-bottom: 3rem;

            ul{
                display: flex;
                gap: 4rem;
                align-items: center;
                justify-content: center;

                img{
                    max-width: 45px;

                    &:hover{
                        opacity: .7;
                    }
                }
            }
        }

    }
    .footer__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        color: $color-white;
        padding-bottom: 1rem;
        a{
        color: $color-white;
        }
    }
}


@include respond-to(desktop){
    .footer{

        .footer__grid{
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            margin-inline: 1vw;
            margin-top: 4rem;
            padding-bottom: 3rem;
            
            .logo.mobile{
                display: none;
            }

            .logo.desktop{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0;

            }
            .menu-items{

                ul{
                    flex-direction: row;
                    gap: 1.5rem;

                    li a{
                        font-size: 1.5rem;
                    }
                }
            }

            .footer__social{
                margin-top: 0;
                margin-bottom: 0;
            }

        }
        .footer__info{
            flex-direction: row;
            justify-content: space-between;
            margin-top: 3rem;
            margin-inline: 5vw;
            font-size: 1.2rem;
        }
    }
}