.header{
    height: auto;
    padding-bottom: 2rem;
    .hero{
        display: flex;
        flex-direction: column;

        .hero__img{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 100%;
            }
        }

        .hero__description{
            text-align: center;
            margin-inline: 2vw;
            .hero__title{
                font-size: clamp(1.3rem,1.3vw,2.5rem);
                margin-bottom: 1.3rem;
                line-height: 1;
            }

            .hero__text{
                margin-inline: 3vw;
                margin-bottom: 2rem;
                p{
                    font-size: 1rem;
                }   
            }

            .hero__buttons{
                gap: .8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                .services__link{
                    font-size: 1rem;
                    color: $color-black;
                    display: inline-flex;
                    align-items: center;
                    margin: 0;
                    position: relative;
                    overflow: hidden;
                    background-clip: text;
                    background: linear-gradient(to right, $color-primary, $color-primary 50%, $color-black 50%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 200% 100%;
                    background-position: 100%;
                    transition: background-position 375ms ease;
                        &:hover{
                            background-position: 0 100%;
                        }
                }
            }
        }
    }
}


@include respond-to(tablet) {
    .header{
        .hero{
            .hero__img{
                margin-bottom: .5rem;
                img{
                    width: 70%;
                }
            }

            .hero__description{
                .hero__title{
                    margin-inline: 3vw;
                }

                .hero__text{
                    text-align: center;
                    p{
                        font-size: 1.050rem;
                    }
                }

                .hero__buttons{
                    gap: 1.7rem;
                }
            }
        }
    }
}



@include respond-to(desktop) {
    .header{
        .hero{
            margin-top: 2rem;

            .hero__img{
                img{
                    width: 40%;
                }
            }

            .hero__description{
                text-align: center;
                margin-inline: 20vw;

                .hero__title{
                    line-height: 1.2;
                }

                .hero__text{
                                p{
                                    font-size: 1.020rem;
                                }
                            }

                    .hero__buttons{
                        gap: 2rem;
                    }
            }
        }
    }
}


@include respond-to(large-desktop) {
    .header{
        .hero{
            .hero__img{
                margin-top: 1rem;

                img{
                    width: 30%;
                }
            }
            .hero__description{
                text-align: center;
                .hero__title{
                    margin-inline: 15vw;
                }
                .hero__text{
                    margin-block: 2.5rem;
                    p{
                        font-size: 1.1rem;
                    }
                }
                .hero__buttons{
                    .services__link{
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

