

    .navbar {
    width: 100%;
        height: 2rem;
    .nav-container{
            margin-top: 5rem;
    
            .logo {
                position: absolute;
                top: 20px;
                left: 20px;
                font-size: 2rem;
                color: $color-black;
              }
        }
    
    .menu-items {
        height: auto;
        width: 100%;
        backdrop-filter: blur(150px);
        transform: translateY(-150%);
        border-top: 2px solid $color-white;
        border-bottom: 2px solid $color-white;
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        text-align: center;
        justify-content: center;
    
        ul{      
            margin-top: 1rem;
            li{
                margin-bottom: 2rem;
                
                a{
                    color: $color-black;
                    font-weight: $fw-regular;
                    font-size: 1.5rem;
                    &:hover{
                        font-weight: $fw-bold;
                    }
                }
            }
        }
        
    }
    .nav__button{
        display: none;
    }
    
    
    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 30px;
        right: 25px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }
    
    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 30px;
        right: 25px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    
    .nav-container .hamburger-lines .line {
        display: block;
        height: .1550rem;
        width: 100%;
        border-radius: 10px;
        background: $color-black;
    }
    
    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    
    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    
    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    
    
    .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateY(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
    }



   
  @include respond-to(desktop) {
    .navbar{
        padding-inline: 5vw;
        height: 100%;
        .nav-container{
            width: 100%;
            display: flex;
            margin-top: 0;
            align-items: center;
            
            .logo{
                position: static;
                margin-top: 1.5rem;
            }

            .menu-items{
        transform: translateY(0%);
        margin-right: 4rem;
        backdrop-filter: none;
            margin-top: 2rem;
        flex-direction: row;
        border-top: none;
        border-bottom: none;
        ul{
            display: flex;
            margin-top: 0;
            gap: 2rem;

            li{
                margin-bottom: 0;
                
            }
        }
    }

           .checkbox{
            display: none;
           }
           .hamburger-lines{
            display: none;
           }


           .nav__button{
            display: block;
            position: absolute;
            right: 3%;
            top: 2.5%;
        }
        }

    }
  }
 
    
    