.navbar {
    width: 100%;
    height: 4rem;
    .nav-container{
        right: 0;
        position: fixed;
        top: 0;
        height: 5rem;
        width: 100%;
        z-index: 4;
        .logo {
                position: absolute;
                top: 26px;
                left: 20px;
                font-size: 1.6rem;
                color: $color-primary;
              }
        }
    
    .menu-items {
        border-left: 3px solid $color-white;
        height: 100vh;
        width: 65%;
        padding-left: 1rem;
        margin-left: auto;
        background-color: $color-clients-bg;
        transform: translateX(250%);
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        transition: transform 0.5s ease-in-out;

        ul{      
            li{
                margin-bottom: 2rem;
                a{
                    color: $color-black;
                    font-weight: $fw-regular;
                    font-size: 1.8rem;
                    position: relative;
                    overflow: hidden;
                    background-clip: text;
                    background: linear-gradient(to right, $color-primary, $color-primary 50%, $color-black 50%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 200% 100%;
                    background-position: 100%;
                    transition: background-position 335ms ease;
                    text-decoration: none;

                     &:hover{
                        background-position: 0 100%;
                    }
                }
            }
        }
        
    }

    .nav__button{
        display: none;
    }

    .nav__social{
        display: none;
    }

    .btn.primary.nav{
        display: none;
    }
    
    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 30px;
        right: 25px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }
    
    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 30px;
        right: 25px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    
    .nav-container .hamburger-lines .line {
        display: block;
        height: .1550rem;
        width: 100%;
        border-radius: 10px;
        background: $color-black;
    }
    
    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    
    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    
    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    
    
    .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateY(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
    }



    @include respond-to(tablet){
        .navbar{
            .menu-items{
                width: 40%;
            }
        }
    }

    
   
  @include respond-to(desktop) {
    .navbar{
        padding-inline: 5vw;
        height: 100%;
        .btn.primary.nav{
            display: inline-flex;
        }
        
        .nav-container{
            backdrop-filter: none;
            border-radius: 0;
            width: 100%;
            display: flex;
            position: static;
            margin-top: 0;
            align-items: end;
            
            .logo{
                position: static;
            }

            .menu-items{
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateX(0%);
                height: 100%;
                width: 100%;
                border-left: 0;
                background-color: transparent;
                padding-top: 2rem;
                backdrop-filter: none;
                flex-direction: row;
                border-top: none;

                    ul{
                        display: flex;
                        margin-top: 0;
                        gap: 2.5rem;

                        li{
                            margin-bottom: 0;
                            a{
                                font-size: 1.5rem;
                            }
                        }
                    }
         }

           .checkbox{
            display: none;
           }

           .hamburger-lines{
            display: none;
           }

           .nav__social{
               display: inline-flex;
               align-items: center;
               justify-content: center;

               ul{
                    display: flex;
                    position: absolute;
                    right: 5%;
                    top: 3.3%;
                    gap: 4rem;

                li{
                    img{
                        width: 40px;

                        &:hover{
                            opacity: .7;
                        }
                    }
                }
            }
           }
        }
    }
  }
 
    
