.btn {
    padding: 0.8rem 1.4rem;
    display: inline-block;
    cursor: pointer;
    font-size: 1.1rem;
    outline: none;
    border-radius: 7px;
    text-align: center;
    position: relative;
    transition:  0.4s ease; 
    overflow: hidden;
    transition: 500ms ease all;
    font-weight: $fw-regular;
    &::before{
        content: '';
    position: absolute;
    top: -40%;
    right: 110%;
    width: 30px;
    height: 200%;
    background: rgba(white, .3);
    transform: rotate(20deg);
    }

    &.primary {
        background: $gradient-primary; 
        color: $color-white;
        &:hover{
            &:before{
                right: -50%;
                transition: 1s ease all;
            }
        }

    }


        &.secondary{
            font-weight: $fw-bold;
            color: $color-black;
            border: 2px solid $color-black;
            transition: background-color 0.3s linear, color 0.3s linear;
           
            &:hover{
                color: $color-white;
    background: $gradient-primary;
            }
        }
}

// form button 

#ninth>button{
  border: none;
  border-radius: 7px;
  width: min(50%, 180px);
  color: $color-white;
  background-color: $color-primary;
  padding: 1rem 0;
  outline: none;
  font-size:1.2rem;
  font-weight: $fw-bold;
  margin-top: .5rem;

  &:hover{
    opacity: .7;
  }
}




// whatsapp button 

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  &:hover{
    opacity: .7;
  }
}

.whatsapp-button img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}





@include respond-to(tablet){
    .btn {
        &.primary{
            padding: .9rem 1.8rem;
        }
}
}

@include respond-to(desktop){
    .btn{
        &.primary{
            padding: 1rem 1.9rem;
        }

        &.secondary{
            padding: .6rem 1.1rem;
        }
    }
}

@include respond-to(large-desktop){
    .btn{
        &.primary{
            padding: 1rem 2.3rem;
            font-size: 1.2rem;
        }

        &.secondary{
            padding: .8rem 1.9rem;
            font-size: 1rem;

        }
    }
}

// services button 

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 0;
    vertical-align: middle;
    background: transparent;
    padding: 0;
    font-size: inherit;
    &.learn-more {
      width: 12rem;
      height: auto;
      .circle {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: $color-primary;
        border-radius: 1.625rem;
        .icon {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          background: $color-white;
          &.arrow {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
            &::before {
              position: absolute;
              content: '';
              top: -0.25rem;
              right: 0.0625rem;
              width: 0.625rem;
              height: 0.625rem;
              border-top: 0.125rem solid #fff;
              border-right: 0.125rem solid #fff;
              transform: rotate(45deg);
            }
          }
        }
      }
      .button-text {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: $color-black;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &:hover {
      .circle {
        width: 100%;
        .icon {
          &.arrow {
          background: $color-white;
          transform: translate(1rem, 0);
          }
        }
      }
      .button-text {
        color: $color-white;
      }
    }
  }


//  cta button 

  .cta__final{
    .btn {
      margin-bottom: 3rem;
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      text-decoration: none;
      color: $color-white;
      padding: 0 5.5em 0 1em;
      font-size: 1.4rem;
      line-height: 3em;
      transition: all $time $bezier;
    }
    
    .btn--mini {
      font-size: 1.2rem;
    }
    
    .btn .circle {
      width: $size;
      height: $size;
      position: absolute;
      top: 0;
      right: 0;
      border: 2px solid $color-white;
      border-radius: $size;
      transition: inherit;
    }
    
    .btn .circle .circle__arrow {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: .8em;
      transform: translateY(-50%);
      width: calc($size *.6 );
      height: calc( $size *.2 );
      transition: inherit;
    }
    
    .btn .circle .circle__arrow::before {
      content: '';
      position: absolute;
      top: 0;
      right: 33%;
      width: calc( $size *.2 );
      height: 100%;
      border-top: 2px solid $color-white;
      border-right: 2px solid $color-white;
      transform: rotate(45deg);
      transition: inherit;
    }
    
    .btn .circle .circle__arrow::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 0;
      height: 2px;
      background: $color-white;
      transition: inherit;
      opacity: 0;
    }
    
    .btn:hover {
      padding-left: 2em;
      padding-right: 6em;
    }
    
    .btn:hover .circle {
      width: 100%;
      border-color: $color-white;
    }
    
    .btn:hover .circle .circle__arrow {
      right: 2em;
    }
    
    .btn:hover .circle .circle__arrow::before {
      right: 3%;
    }
    
    .btn:hover .circle .circle__arrow::after {
      width: 100%;
      opacity: 1;
    }
  }