*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}


.section-divider {
    border: 1px solid $color-white;    
  }
  
  

p{
    font-size: 1.1rem;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

section{
    height: auto;
}

.section__title{
    text-align: center;
    margin-block: 4rem;
    font-size: 1.7rem;
    margin-inline: 10vw;
    color: $color-black;
    font-weight: $fw-extrabold;
    line-height: 1.2;
    span{
        margin-bottom: .3rem;
        display: block;
        color: $color-primary;
        font-size: 1.2rem;
        }
}
